#game{
    display: table;
    margin: 0 auto;
}

.block{
    display: inline-block;
    margin: 0;
    padding: 0;
    font-size: 0;
    height: 50px;
    width: 50px;
}

.half-block{
    width: 25px;
    height: 25px;
}

.red{
    background: #fa6262;
}

.yellow{
    background-color: #f1e559; 
}

.blue{
    background-color: #34a5fb;
}

.white{
    background-color: #fff;
}

.player{
    position: fixed;
    left: 413px;
    bottom: 100px;
    height: 30px;
    width: 10px;
    background-color: #404040;
}

.out{
    display: none;
}

.in{
    display: block;
}